

<form nz-form [formGroup]="validateForm" (ngSubmit)="additionalForm()" class="ui">
    <h1>Add user</h1>
    <nz-form-item class="input">
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="userName"
        nzRequired
        nzTooltipTitle="What do you want other to call you"
      >
        <span>userName :</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your nickname!"
      >
        <input nz-input id="userName" formControlName="userName" />
      </nz-form-control>
    </nz-form-item>
  
    <!-- <nz-form-item class="input">
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="Date"
        nzRequired
        nzTooltipTitle="What do you want other to call you"
      >
        <span>Date :</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your nickname!"
      >
        <input nz-input id="Date" formControlName="Date" />
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">Type</nz-form-label>
  
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="select user type">
        <nz-select formControlName="type">
          <nz-option nzLabel="follower" nzValue="follower"></nz-option>
          <nz-option nzLabel="following" nzValue="following"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" class="input">Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  