@import "../../assets/colors.scss";

#sider {
  background-color: $light-color;
  height: 100%;
  width: 100%;
}
#header {
  background-color: $light-color;
  text-align: center;
}
#title {
  color: $dark-color;
}
#footer {
  text-align: center;
}
#content {
  background-color: $contant;
  height: 100%;
}
.wrapper {
  width: "25%";
  color: $dark-color;
}

button {
  margin-bottom: "10%";
  float: left;
}
.link {
  color: $orange;
}
