<button
  nz-button
  nzType="primary"
  style="margin-left: 5%; margin-top: 2%"
>
  Show Project
</button>



<div style="padding: 10px 5px 5px 10px">
  <nz-table #basicTable>
    <thead>
      <tr>
        <th class="header">Name</th>
        <th class="header">shop Name</th>
        <th class="header">mobile number</th>
        <th class="header">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of user; let i = index">
        <!-- <td class="footer">{{ data.userName }}</td>
        <td class="footer">{{ data.shopName }}</td>
        <td class="number">{{ data.phoneNumber }}</td>
        <td class="footer">{{ data.email }}</td> -->
      </tr>
    </tbody>
  </nz-table>
</div>
