<button
  nz-button
  nzType="primary"
  (click)="table()"
  style="margin-left: 5%; margin-top: 2%"
>
  Show Project
</button>



<div style="padding: 10px 5px 5px 10px">
  <nz-table #basicTable>
    <thead>
      <tr>
        <th class="header">Name</th>
        <th class="header">CODE IN</th>
        <th class="header">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of user; let i = index">
        <td class="footer">{{ data.projectName }}</td>
        <td class="footer">{{ data.codeIn }}</td>
        <td class="number">{{ data.Date }}</td>
  
      </tr>
    </tbody>
  </nz-table>
</div>
